.footer{
    max-height: 70vh;
    background-color: $color-secondary-dark;
    font-family: "Roboto Condensed", sans-serif;
    display: flex;
    flex-direction: column;
    padding: 6rem 10rem;
}
.footer-container{
    width: 100%;
    max-width: 1320px;
    .footer-wrapper{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        .footer-widget{
            width: calc(20% - 30px);
            margin: 0 15px 50px;
            padding: 0 12px;
            .footer-logo{
                height: 10rem;
                width: auto;
                margin-bottom: 30px;
                vertical-align: middle;
                margin-left: 6rem;
            }
            .socials{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                li{
                    list-style: none;
                    a{
                        width: 44px;
                        height: 44px;
                        margin-right: 10px;
                        background-color: $color-secondary-white;
                        border-radius: 50%;
                        font-size: 20px;
                        text-decoration: none;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transition: all 0.3 ease;
                        &:hover{
                            background-color: $color-primary-light;
                        }
                    }
                }
            }
            .footer-h1{
                color: $color-secondary-white;
                margin: 10px 0 35px;
                font-size: 2.5rem;
                font-weight: 600;
            }
                li{
                    list-style: none;
                    a{
                        color: $color-secondary-white;
                        font-size: 1.9rem;
                        text-decoration: none;
                        text-transform: capitalize;
                        line-height: 32px;
                        transition: all 0.3s ease-out;
                        &:hover{
                            color: $color-primary-yellow;
                        }
                    }
                }
        }
    }
    .copyright-wrapper{
        padding: 20px 0;
        border-top: 1px solid $color-secondary-white;
        p{
            color: $color-secondary-white;
            font-size: 1.6rem;
            font-weight: 500;
            text-align: center;
            a{
                font-weight: 500;
                text-decoration: none;
                transition: all 0.3 ease-out;
                &:hover{
                    color: $color-primary-yellow;
                }
            }
        }
    }
}