.row{
    // max-width: 114rem;
    padding: 0 1rem ;
}
.col-2{
    float: left;
    width: 50%;

}
.col-3{
    float: left;
    width: 33.33%;
}
.col-4{
    float: left;
    width: 20%;
}
.navigation {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 5rem 5rem;

    .nav-bar,.logo-section,
    .top-bar {
        border: 1px solid #fff;
    }
    .logo-section {
        grid-area: 1/1/-1/2;
    }
    .top-bar {
        grid-area: 1/2/2/-1;
    }

    .nav-bar {
        grid-area: 2/2/-1/-1;
    }
}
