
@media (max-width:900px) {

    .navigation {
        .top-bar * {
            width: 0;
            opacity: 0;
        }
        // .nav-bar {
        //     opacity: 0;
        //     width: 0;
        //     height: 0;
        // }
        #nav-check:checked ~ .nav-bar>.nav-list{
            left: 0;
        }
        #nav-check:checked ~ .top-bar>li{
            left: 0;
        }
        .nav-bar .nav-list .nav-items:not(:last-child):hover{
            border: 0;
        }
    }

}
