.section-reviews {
    background-color: $color-primary-blue;
    min-height: 90vh;
    max-height: 120vh;
}

.reviews-container {

    .reviews {
        width: 75%;
        min-height: 15rem;
        max-height: 20rem;
        margin: 5rem auto;
        padding: 1rem 7rem 0 7rem;
        background-color: $color-white;
        transform: skewX(-12deg);

        &>* {
            transform: skewX(12deg);
        }

        .review-shape {
            height: 13rem;
            width: 13rem;
            float: left;
            line-height: 15rem;
            background-color: aqua;
            // shape-outside: circle(50% at 50% 50%);
            clip-path: circle(50% at 50% 50%);

            img {
                object-fit: cover;
                object-position: top center;
                width: 100%;
            }
        }

        .review-text {
            font-family: "Times New Roman", sans-serif;
            font-size: 1.5rem;
            margin-left: 20%;
            h1 {
                text-transform: uppercase;
                font-family: "Roboto Condensed" , sans-serif;
                font-weight: 300;
                font-style: italic;
                text-decoration: underline;
            }

            p {
                font-style: italic;
            }
        }
    }
}