@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:wght@500&family=Playfair+Display:wght@600&family=Roboto+Condensed:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    font-size: 62.5%;
    font-family: 'Open Sans' , sans-serif;
}
body{
    background-color: #ffffff;
}
a {
    color: white;
}

$color-primary-blue: #00274c;
$color-primary-yellow: #ffcb05;
$color-primary-light:#017EA7;
$color-secondary-green:#597E20;
$color-secondary-purple:#5A2049;
$color-secondary-red:#D9002A;
$color-secondary-white:#fff;
$color-secondary-dark: #11161d;
$color-secondary-softpurple:#b68e8e;


.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}
.flex{
    display: flex;
}
.text-center {
    text-align: center;
}
.padding-hr-icon{
    padding-right:1rem ;
}
.margin-top-small{
    margin-top: 1rem;
}
.margin-top-medium{
    margin-top: 4rem;
}
.margin-top-large{
    margin-top: 8rem;
}
.margin-bottom-small{
    margin-bottom: 2rem;
}
.margin-bottom-medium{
    margin-bottom: 4rem;
}
.text-center{
    text-align: center;
}